<%= render 'layouts/header' %>
<%= 
if not (session[:current_user_id] == nil)
	render 'layouts/importarExtjs'	
end
%>
</head>
<body>
<%= render 'layouts/template_header' %>
<%= render 'layouts/bottom' %>

<%= yield %>

<%= render 'layouts/template_bottom' %>
</body>
<%= render 'layouts/bottom' %>
